# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Uploaded media
data/uploads/

# Database
*.sqlite3

# Build files
dist/
build/
.next/

# IDE
.vscode/
.idea/